<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My To Dos</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Index</title>
</head>
<body>
<div class="container">
<h3>Meine Einkaufsliste</h3>
    </div>
<div class="container">
{% if myitems %}

        {% for item in myitems %}

         <br><input type="checkbox"> {{item.name}}, {{item.amount}}, {{item.status}}, {{item.shop}}

        {% endfor %}
</div>
{% else %}
<p>No items are available.</p>
{% endif %}

<div class="container">
    <p>
<form action="{% url 'shoppinglist:neu_item' %}" method="post">
            <fieldset>
            {% csrf_token %}
                <label>Produkt:</label><input type="text" name="name", required>
                <label>Menge:</label><input type="text" name="amount", required>
                <label>Status:</label>
                <select name="status", required>
                    <option value="H">Heute</option>
                    <option value="M">Morgen</option>
                    <option value="W">im Laufe der Woche</option>
                </select>
                <label>Shop</label>
                <select class="mx-3" name="shop">
                            {% for shop in myshops %}
                            <option value="{{shop.id}}">{{shop.name}}</option>
                            {% endfor %}
                        </select>

                <input type="submit" value="Anlegen" class="btn btn-info">
            </fieldset>
        </form>
</div>
</p>
<div class="container">
<a href="{% url 'shoppinglist:shops' %}">Infos zu meinen Geschäften - Öffnungszeiten</a>
</div>
</body>
</html>
