<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My To Dos</title>
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>Shops</title>
</head>
<body>
<div class="container">
<h3 class="display-4">Meine Geschäfte:</h3>
    </div>
<div class="container">
{% if myshops %}

        {% for shop in myshops %}

    <ul><li>{{shop.name}}</li></ul>

        {% endfor %}

{% else %}


<p>No shops are available.</p>


{% endif %}

<form action="{% url 'shoppinglist:neu_shop' %}" method="post">
            <fieldset>
            {% csrf_token %}
                <label>Neues Geschäft:</label><input type="text" name="name", required>
            <input type="submit" value="Add" class="btn btn-light">
            </fieldset></form>

</div>
</body>
</html>
