<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <title>User Details</title>
</head>
<body>
<div class="container">
<h3>Detailansicht von {{ user_name }} (ID {{ user_id }})</h3>
<p>
<h4>Saldo:</h4>
<p>
<h4>Annas Zahlungen:</h4>
{% if mypayments %}
    {% for payment in mypayments %}
        {{ payment.amount }}
     {% for user in payment.fuer.all %}
        {{user}}
        {% endfor %}
        {{ payment.date_time }}
        {{ payment.description }}


    {% csrf_token %}
    {% endfor %}

{% else %}
    <p>No payments are available.</p>
{% endif %}

</div>
</body>
</html>
